.instruction-card {
	padding: 1.5rem;
	background-color: var(--color-bg-card);
	border-radius: 0.5rem;
	border: 1px solid var(--color-border-light);
	box-shadow: var(--shadow-card);
	backdrop-filter: blur(5px);
}

.card-title {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary-glow);
}

.card-title svg {
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.windows-links-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: left;
}

.download-link-card {
	display: block;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color-border-primary-dim);
	background-color: var(--color-primary-light-10);
	text-decoration: none;
	transition: background-color 0.2s ease, border-color 0.2s ease;
	cursor: pointer;
}

.download-link-card:hover {
	background-color: var(--color-border-primary-dim);
	border-color: var(--color-primary-glow);
}

.download-link-title {
	display: block;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--color-text-primary);
	margin-bottom: 0.25rem;
}

.download-link-description {
	display: block;
	font-size: 0.9rem;
	font-weight: 300;
	color: var(--color-text-muted);
}